/* External Fonts from Google-Fonts*/
/* Font- EB Garamond */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
/* Font- Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* Defining Global Styles */
:root {
    /* Fonts */
    --headingFonts: 'EB Garamond', serif;
    --descriptionFonts: 'Poppins', sans-serif;
    /* Color */
    --primaryColor: #414040;
    --secondaryColor: #707070;
    --teritaryColor: white;
    --quaternaryColor: #B68C5A;
    /* For Footer Only */
    --quinaryColor: #CFCFCF;

}

/* Header Start */
header {
    padding: 30px 100px;
}

.nav-link {
    color: var(--secondaryColor);
}

.nav-link:hover {
    color: var(--secondaryColor);
}

.nav-link:focus {
    color: rgba(0, 0, 255, 0.658);
}

.navbar-nav li {
    padding: 0px 20px;
}

.navbar-toggler {
    border: hidden;
    background: linear-gradient(rgba(255, 0, 0, 0.228), rgba(0, 0, 255, 0.151));

}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-button {
    border: hidden;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--quaternaryColor);
    color: var(--teritaryColor);
    font-weight: bold;
    font-family: var(--descriptionFonts);
    letter-spacing: 1.5px;
}

.btn-secondary {
    border: hidden;
    background-color: var(--quaternaryColor);
    font-weight: bold;
    font-family: var(--descriptionFonts);
}

.modal-title {
    font-family: var(--headingFonts);
    color: var(--primaryColor);
    font-weight: bold;
}

.modal-body {
    font-family: var(--descriptionFonts);
    color: var(--secondaryColor);
}

/* End of navar */

/* Header Section */
.header-section {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.735), rgba(18, 16, 16, 0.187)), url('../images/banner.png');
    background-size: cover;
    color: var(--teritaryColor);
    padding: 150px 350px;
    text-align: center;
    border-radius: 10px;
}

.header-title {
    font-family: var(--headingFonts);
    color: var(--teritaryColor);
}

.header-description {
    font-family: var(--descriptionFonts);
    color: var(--secondaryColor);

}

.header-search input {
    padding: 10px;
    border: hidden;
    border-radius: 10px;
    background-color: var(--teritaryColor);
    width: 60%;
}

.header-search input:focus {
    outline: transparent;
}

.header-search button {
    padding: 10px;
    border: hidden;
    background-color: var(--quaternaryColor);
    border-radius: 10px;
    color: var(--teritaryColor);
    width: 20%;
    margin-left: 12px;
}

/* Header End */

/* Section 01 Start */
.section-1 {
    padding: 30px 100px;
}

.section1-p1-heading {
    font-family: var(--headingFonts);
}

.card {
    padding: 20px;
    border: hidden;
    border-radius: 0;
}

.card-1,
.card-4,
.card-5 {
    border-right: 1px solid black;
}

.card-1,
.card-2,
.card-3 {
    border-bottom: 1px solid black;
}

.card img {
    height: 50px;
    width: 50px;
}

.card:hover {
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    ;
}

.section1-p2-description {
    padding: 0px 250px;
    font-size: 1.1vw;
    font-family: var(--descriptionFonts);
    color: var(--secondaryColor);
}

.card-text {
    color: var(--secondaryColor);
}

/* Section 01 End */


/* Section 02 Start */

.section2 {
    padding: 30px 100px;
}

.section2-heading {
    font-family: var(--headingFonts);
    color: var(--primaryColor);
}

.section2-description {
    font-family: var(--descriptionFonts);
    color: var(--secondaryColor);
    padding: 0px 250px;
    line-height: 1.8;
}

.carosoul-items1,
.carosoul-items2,
.carosoul-items3 {
    text-align: center;
    color: var(--teritaryColor);
    padding: 200px 250px;
    background-size: cover;
    background-position: left;
}

.carosoul-items1 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.094), black), url('../images/slider-1.jpg');
}

.carosoul-items2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.094), black), url('../images/slider-2.jpg');
}

.carosoul-items3 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.094), black), url('../images/slider-3.jpg');
}

.carosoul-comment-profile img {
    height: 100px;
    width: 100px;
    border: 3px solid white;
    border-radius: 50%;
}

.carosoul-heading {
    font-family: var(--headingFonts);
    margin-top: 12px;
    font-size: 1.7vw;
}

.carosoul-position {
    margin-bottom: 10px;
    font-family: var(--descriptionFonts);
    margin-top: 12px;
    font-size: 1.2vw;
    color: var(--quinaryColor);
}

.carosoul-description {
    font-family: var(--descriptionFonts);
    color: var(--quinaryColor);
}

.fa-circle-chevron-left,
.fa-circle-chevron-right {
    font-size: 2vw;
}

/* Section 02 End */

/* Section 03 Start */
.section3 {
    padding: 30px 100px;
}

.section3-heading {
    font-family: var(--headingFonts);
    color: var(--primaryColor);
}

.section3-description {
    padding: 0px 220px;
}

.question-list {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.section3-question {
    width: 50%;
}

.accordion-item {
    border: hidden;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--secondaryColor);
}




button.accordion-button:focus {
    outline: transparent;
    box-shadow: none;
}

.accordion-button {
    font-weight: bolder;
    font-size: 1.6vw;
    color: var(--primaryColor);
    font-family: var(--headingFonts);
    outline: transparent;
}

.accordion-body {

    font-size: 1.2vw;
    color: var(--secondaryColor);
}

.accordion-button:not(.collapsed) {
    font-weight: bolder;
    color: black;
    background-color: var(--teritaryColor);
}

.accordion-button::after {
    background-image: url('../images/plus-solid.svg');
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../images/minus-solid.svg');
}

/* Section 03 End */

/* Section 04 Start */
.section4-heading {
    text-align: center;
    font-family: var(--headingFonts);
    color: var(--primaryColor);
}

.section4-description {
    text-align: center;
    margin-bottom: 5%;
    font-size: 1.5vw;
    font-family: var(--descriptionFonts);
    color: var(--secondaryColor);
}

.section4 {
    padding: 30px 100px;
}

.section4-contact {
    display: flex;
    gap: 15px;

}

.section4-card-col1 {
    border-right: 1px solid black;
    border-bottom: 1px solid #000;
}

.section4-card-col3 {
    border-right: 1px solid black;
}

.section4-card-col2 {
    border-bottom: 1px solid black;
}

.section4-right-contact-form input {
    margin-top: 15px;
    width: 500px;
    padding: 15px;
}

.my-input {
    margin-left: 0%;
}

.my-input input {
    border: hidden;
    background-color: #F3F3F3;
    ;
    color: black;
    border-radius: 12px;
}

.my-input input::placeholder {
    color: black;
}

.my-input input:focus {
    outline: transparent;
}

.large-input {
    height: 120px;
}

.send-message {
    margin-top: 12px;
    padding: 15px;
    width: 500px;
    border: hidden;
    background-color: var(--quaternaryColor);
    color: white;
    font-weight: bold;
    border-radius: 12px;
}

.section4-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Section 04 End */


/* Section 05 Start */
.section5{
    padding: 30px 130px;
}
.our-sponser{
    padding: 20px 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.section5-heading{
    font-family: var(--headingFonts);
    padding-bottom: 12px;
    border-bottom: 1px solid black;
}

/* Section 05 End */